.navigation {
  position: absolute;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 2rem 3rem;
}

.navigation__burger {
  &--green > &-line {
    background-color: #309e37;
  }

  &-line {
    width: 3rem;
    height: 0.25rem;

    border-radius: 375rem;

    background-color: white;

    transition: all 0.3s;

    &--short {
      width: 1rem;
    }

    & + & {
      margin-top: 0.375rem;
    }
  }
}

.navigation__login {
  display: flex;
  align-items: center;

  margin-right: 4rem;

  font-family: montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: white;

  &-icon {
    margin-left: 0.5rem;
  }
}
