@use '../../styles/animations';

.header3 {
  position: relative;

  width: 100vw;
  height: 100vh;
  min-height: 100%;

  background-image: linear-gradient(270deg, black 50%, transparent 50%),
    radial-gradient(circle, #a2ff00 0%, #518000 100%);

  &__title {
    font-family: montserrat, sans-serif;
    font-size: 16rem;
    font-weight: 900;
    color: transparent;
    line-height: 1em;

    @media screen and (max-width: 960px) {
      font-size: 12rem;

      margin-left: 1rem;
    }

    @media screen and (max-width: 640px) {
      font-size: 10rem;
    }
  }

  &__mask {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-image: linear-gradient(90deg, black 50%, transparent 50%),
      radial-gradient(circle, #a2ff00 0%, #518000 100%);
    background-size: cover;
    background-position-x: left, 10px;
    background-repeat: no-repeat;

    background-clip: text;
    -webkit-background-clip: text;
  }

  &__description {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8rem;

    &--left {
      color: #161616;
    }

    &--right {
      color: white;
    }

    @media screen and (max-width: 960px) {
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
    }
  }

  &__text {
    margin-left: 1.25rem;

    @media screen and(max-width: 960px) {
      margin-left: 0;

      text-align: center;
    }
  }
}

.header3__panel {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: flex-end;

  height: 6rem;
  width: 50%;

  @media screen and (max-width: 960px) {
    height: 4rem;
  }

  @media screen and (max-width: 640px) {
    display: none;
  }

  &-subscribe {
    display: flex;
    align-items: center;

    opacity: 0.8;

    width: 80%;
    height: 100%;

    padding-left: 4rem;

    background-color: rgba(black, 0.2);

    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    line-height: 1.4em;
    color: black;
    letter-spacing: 0.125rem;

    @media screen and (max-width: 960px) {
      padding-left: 1rem;
      width: 87%;

      font-size: 1.375rem;
    }
  }

  &-go {
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.5;

    min-width: 13rem;
    width: 18.5%;
    height: 100%;

    background-color: rgba(black, 0.4);

    margin-left: 1.5%;

    font-size: 1.25rem;

    @media screen and (max-width: 960px) {
      min-width: initial;
      width: 12%;
      margin-left: 1%;

      font-size: 0.75rem;
    }
  }
}
