.root {
  overflow: hidden;
}

.app {
  font-family: acumin-pro, sans-serif;
  min-height: 100vh;

  overflow: hidden;
}

.slideLeft-appear,
.slideLeft-enter {
  position: absolute;
  top: 0;
  left: 100%;
}
.slideLeft-appear-active,
.slideLeft-enter.slideLeft-enter-active {
  top: 0;
  left: 0;
  transition: left 1000ms linear;
}

.slideLeft-enter-done {
  position: relative;
}

.slideRight-appear,
.slideRight-enter {
  position: absolute;
  top: 0;
  left: -100%;
}
.slideRight-appear-active,
.slideRight-enter.slideRight-enter-active {
  top: 0;
  left: 0;
  transition: left 1000ms linear;
}

.slideRight-enter-done {
  position: relative;
}

.paragraph {
  position: absolute;
  left: 2rem;
  top: 2rem;
}
