@use "../../styles/animations";

.dots {
  position: absolute;
  left: 4rem;
  top: 50%;

  z-index: 10;

  transform: translateY(-50%);

  @media screen and (max-width: 960px) {
    left: 2rem;
  }

  @media screen and (max-width: 640px) {
    display: none;
  }

  &--dark > &__item {
    background-color: rgba(black, 0.5);
  }
  &--dark > &__item--active {
    background-color: rgba(black, 0.8);

    &::after {
      border: 0.125rem solid black;
    }
  }

  &--black > &__item {
    background-color: rgba(black, 0.5);
  }
  &--black > &__item--active {
    background-color: rgba(black, 1);

    &::after {
      border: 0.125rem solid black;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 0.875rem;
    height: 0.875rem;

    background-color: rgba(black, 0.2);
    border-radius: 50%;

    transition: all 1.3s;

    border: none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 3px solid blanchedalmond;
    }

    &--active {
      background-color: #309e37;

      &::after {
        content: "";
        position: absolute;

        width: 2.5rem;
        height: 2.5rem;
        border: 0.125rem solid #309e37;
        border-radius: 50%;

        animation: extend 0.5s;
      }
    }

    & + & {
      margin-top: 3rem;
    }
  }
}
